@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #FEFFA3, #814FB3 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, #a2a349;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B1B360;
    text-align: center;
    text-shadow: 1px, 1px, 2px, #814FB3;
}

h2 {
    color: #814FB3;
}

p {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
